[Unit]
Description=Dashboard Service
After=network.target ntpdate.service

[Service]
Environment=PATH=/home/pi/dashboard:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/bin/ruby bin/smashing start
WorkingDirectory=/home/pi/dashboard/
StandardOutput=inherit
StandardError=inherit
StartLimitBurst=1000
Restart=always
RestartSec=90
User=root

[Install]
WantedBy=multi-user.target