[Unit]
Description=Kiosk
Requires=graphical.target
After=graphical.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
ExecStart=/usr/bin/chromium-browser --noerrdialogs --disable-infobars --kiosk http://localhost:3030/tv
Restart=on-abort
User=pi
Group=pi

[Install]
WantedBy=graphical.target