upstream grafana {
  server localhost:4100 fail_timeout=0;
}

server {
  listen 80;
  listen [::]:80;
  server_name {{ grafana_domain }};

  location / {
    allow 192.168.0.0/16;
    allow 192.168.1.0/16;
    allow 192.168.2.0/16;
    allow 10.0.0.0/16;
    deny all;
    proxy_pass http://grafana/;
  }

  error_page 404 403 @error;

  location @error {
    root /var/www;
    try_files /403.html /403.html;
  }

  client_max_body_size 50M;
  keepalive_timeout 10;
}