DATABASE_URL=postgres://postgres:postgres@database:5434
REDIS_URL=redis://localhost:6380/11

SECRET_KEY_BASE=sadasd
RAILS_MAX_THREADS=25
SIDEKIQ_CONCURRENCY=50
SIDEKIQ_BASIC_AUTH_PASSWORD="yolo"
RAILS_LOG_TO_STDOUT=true
