.docker/data/**/*
.docker/log/**/*
*.log
.env
.env.nextcloud
.env.firefly
.env.plex
.env.postgresql
.env.influxdb
.env.grafana
.env.busix
.env.pihole
.env.crontab
.env.home-assistant
.env.local
.env.dpodcast
.DS_Store
.backups/**/*
*.zip
google_calendars.yaml
sonoff/sonoff.config.json
life360.conf
home-assistant/*.json
home-assistant/.HA_VERSION
home-assistant/.storage
home-assistant/.uuid
home-assistant/*.bak
home-assistant/*.txt
home-assistant/*.xml
home-assistant/*.conf
home-assistant/home-assistant.log
home-assistant/home-assistant_v2.db*
home-assistant/pyozw.sqlite
home-assistant/customize.yaml
home-assistant/known_devices.yaml
home-assistant/secrets.yaml
home-assistant/deps
home-assistant/.cloud
home-assistant/tts
home-assistant/spotify-token-cache.json
home-assistant/components/zones.yaml
home-assistant/sensors/pwned.yaml
bt-mqtt-gateway/config.yaml
google_calendars.yaml
home-assistant/OZW_LOG.txt
home-assistant/options.xml
home-assistant/webostv.conf
home-assistant/.google.token
home-assistant/pyozw.sqlite
home-assistant/ip_bans.yaml
home-assistant/ui-lovelace.yaml
node_modules/**/*
.vagrant/**/*
provision/playbook.retry
provision/vars.yml
appdaemon/appdaemon.yaml
appdeamon/appdaemon.yaml
appdeamon/compiled/**/*
__pycache__/**/*
appdaemon/compiled/**/*
appdaemon/apps/__pycache__/
node_modules/**/*
*.pyc
**/__pycache__/**/*
__pycache__/**/*
*.pickle
*.retry
crontab/*.yaml
node_modules
panel/package-lock.json
.vagrant/*
.c9/**/*
id_rsa
id_rsa.pub
.AppleDouble/
*DS_Store
.AppleDB/
.AppleDesktop/
plex.conf
inventory.ini
.vscode
*~
site/
tmp/
vacuum/payload
*.ppm
zwave/test/**/*
vscode/**/*
:2evscode
.pip_progress
docs/SmartHouse.png
sonoff/certs/
.AppleDouble
