# All media services, that don't need to be always online
version: '3.5'

services:
  emby:
    image: emby/embyserver:latest
    ports:
      - 8096:8096
    environment:
      - UID=1000
      - GID=100 
      - GIDLIST=100,44,1,0,1003
      - TZ=Warsaw
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - .docker/data/emby/config:/config
      - /mnt/Movies:/mnt/Movies
      - /mnt/MoviesAndTV:/mnt/MoviesAndTV
      - /mnt/Multimedia:/mnt/Multimedia
      - /mnt/Music:/mnt/Music
  lidarr:
    image: linuxserver/lidarr
    environment:
      - PUID=0
      - PGID=1003
      - TZ=Europe/Warsaw
      - UMASK_SET=022 #optional
    volumes:
      - .docker/data/lidarr:/config
      - /mnt/Music:/music
      - /mnt/UsbDisk:/downloads
    ports:
      - "0.0.0.0:18686:8686"
    restart: unless-stopped
    depends_on:
      - torrents
      - emby
  sonarr:
    image: linuxserver/sonarr
    ports:
      - 8989:8989
    environment:
      PUID: 0
      PGID: 1003
      TZ: "Europe/Warsaw"
    volumes:
      - .docker/data/sonarr:/config
      - /mnt/MoviesAndTV:/tv
      - /mnt/UsbDisk:/downloads
    depends_on:
      - torrents
      - emby
  torrents:
    image: linuxserver/deluge:latest
    network_mode: host
    environment:
      - PUID=0
      - PGID=1003
      - TZ=Warsaw
      - DELUGE_LOGLEVEL=info #optional
    volumes:
      - .docker/data/deluge/config:/config
      - /mnt/Movies:/data/Movies
      - /mnt/MoviesAndTV:/data/MoviesAndTV
      - /mnt/Music:/data/Music
      - /mnt/UsbDisk:/data/UsbDisk
    restart: unless-stopped
