<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [264, 258]
  Dashing.numColumns = 7
});
</script>

<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":6,"row":1,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":5,"row":2,"size_x":1,"size_y":1},{"col":6,"row":2,"size_x":1,"size_y":1},{"col":7,"row":2,"size_x":1,"size_y":1},{"col":7,"row":1,"size_x":1,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1}]')
 });
 </script>

<% content_for :title do %>TV<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="feeds" data-view="Comments" style="background-color:#ff9618;"></div>
      <i class="fa fa-rss icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="events-arek" data-view="List" data-unordered="true" data-title="Arek"></div>
      <i class="fa fa-hand-spock-o icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="currency-usdToPln" data-view="Number" data-title="USD" data-moreinfo="Złotówki" style="background-color: #3F51B5"></div>
      <i class="fa fa-usd icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="currency-eurToPln" data-view="Number" data-title="EUR" data-moreinfo="Złotówki" style="background-color: #3F51B5"></div>
      <i class="fa fa-euro icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="currency-gpbToPln" data-view="Number" data-title="GBP" data-moreinfo="Złotówki" style="background-color: #3F51B5"></div>
      <i class="fa fa-gbp icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="currency-ethToPln" data-view="Number" data-title="Ethereum" data-moreinfo="Złotówki" style="background-color: #66BB6A"></div>
      <i class="fa fa-money icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="currency-btcToPln" data-view="Number" data-title="Bitcoin" data-moreinfo="Złotówki" style="background-color: #66BB6A"></div>
      <i class="fa fa-btc icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="currency-goldToPln" data-view="Number" data-title="Złoto" data-moreinfo="Zł/g" style="background-color: #FBC02D"></div>
      <i class="fa fa-cubes icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="currency-e95ToPln" data-view="Number" data-title="E95 Paliwo" data-moreinfo="Zł/l" style="background-color: #546E7A"></div>
      <i class="fa fa-car icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="currency-oil" data-view="Number" data-title="Ropa" data-moreinfo="USD/Baryłka" style="background-color: #546E7A"></div>
       <i class="fa fa-tint icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="poland-pkb" data-view="Number" data-title="PKB" data-moreinfo="%"  style="background-color: #7E57C2"></div>
      <i class="fa fa-meh-o icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="poland-stopa" data-view="Number" data-title="Stopa Procentowa" data-moreinfo="%" style="background-color: #7E57C2"></div>
      <i class="fa fa-university icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="poland-inflation" data-view="Number" data-title="Inflacja" data-moreinfo="%" style="background-color: #7E57C2"></div>
      <i class="fa fa-area-chart icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="poland-virus" data-view="Number" data-title="Korona wirus" data-moreinfo="people" style="background-color: #e53935"></div>
      <i class="fa fa-ambulance icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="payments-ola" data-view="List" data-unordered="true" data-title="Ola"></div>
      <i class="fa fa-female icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="expiring-products" data-view="List" data-unordered="true" data-title="Grocy"></div>
      <i class="fa fa-shopping-basket icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="wilgotnosc-gleby" data-view="Meter" data-title="Wilgotnosc gleby" data-height="180" data-width="180" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
  </ul>
</div>
