upstream ytd {
  server 127.0.0.1:7887 fail_timeout=0;
}

server {
  listen 80;
  listen [::]:80;
  server_name {{ ytd_domain }};

  location / {
    allow 192.168.0.0/16;
    allow 10.0.0.0/16;
    deny all;
    proxy_pass http://ytd/;
    proxy_set_header Host $host;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";

    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }

  error_page 404 403 @error;

  location @error {
    root /var/www;
    try_files /403.html /403.html;
  }

  client_max_body_size 50M;
  keepalive_timeout 10;
}