[Unit]
ConditionPathExists=/smart-house/.env.home-assistant
Description=Smart House Health stuff
Requires=docker.service
After=docker.service

[Service]
Environment=SMART_HOUSE_DIR=/smart-house
Restart=always
User=root
StandardOutput=syslog
StandardError=syslog

ExecStart=/usr/bin/zsh -l -c "/usr/bin/smart-house health up"
ExecStop=/usr/bin/zsh -l -c "/usr/bin/smart-house health down"

[Install]
WantedBy=multi-user.target