{
    "router": {
        "SSID": "##########",
        "password": "###########"
    },
    "server": {
        "IP": "192.168.178.31",
        "httpPort": 1080,
        "httpsPort": 1081,
        "websocketPort": 1443
    }
}