# postgres config
hosts = localhost:4101
user = simplelogin
password = {{ simplelogin_password }}
dbname = simplelogin

query = SELECT domain FROM custom_domain WHERE domain='%s' AND verified=true UNION SELECT '%s' WHERE '%s' = '{{ simplelogin_domain }}' LIMIT 1;