- hosts: master
  become: yes
  roles:
    - role: weareinteractive.ufw
  vars:
    ufw_reset: yes
    ufw_logging: "off"
    ufw_rules:
      - { port: 9050, rule: allow, comment: "Tor Control Port" }
      - { port: 8123, rule: allow, comment: 'HomeAssistant' }
      - { port: 3128, rule: allow, comment: 'squid' }
      - { port: 22, rule: allow, comment: 'Allow SSH' }
      - { port: 80, rule: allow, comment: 'Allow HTTP' }
      - { port: 1514, rule: allow, comment: 'Allow SysLog UDP' }
      - { port: 443, rule: allow, comment: 'Allow HTTPS' }
      - { port: 4105, rule: allow, comment: 'Allow MQTT' }
      - { port: 987, rule: allow, comment: 'Allow PS4' }
      - { port: 997, rule: allow, comment: 'Allow PS4' }
      - { from_ip: '192.168.1.229', comment: 'Allow PS4 console access' }
      - { port: 4001, rule: allow, comment: 'Allow IPFS swarm' }
      - { port: 5001, rule: allow, comment: 'Allow IPFS API' }
      - { port: 548, rule: allow, comment: 'Allow AFP' }
      - { port: 427, rule: allow, comment: 'Allow AFP' }
      - { port: 7000, rule: allow, comment: 'Allow mkdocs dev server' }
      - { port: 9898, rule: allow, comment: 'Allow xiaomi aqara multicast shit' }
      - { port: 1080, rule: allow, comment: 'Sonoff HTTP' }
      - { port: 1081, rule: allow, comment: 'Sonoff HTTPs' }
      - { port: 1443, rule: allow, comment: 'Sonoff Websocket' }
      - { port: 137, rule: allow, comment: 'Samba' }
      - { port: 138, rule: allow, comment: 'Samba' }
      - { port: 139, rule: allow, comment: 'Samba' }
      - { port: 445, rule: allow, comment: 'Samba' }
      - { from_ip: '127.0.0.1/24', comment: 'Allow localhost' }
      - { from_ip: '192.168.0.1/24', comment: 'Allow local network' }
      - { from_ip: '10.0.0.1/24', comment: 'Allow vpn network' }
      - { from_ip: '10.0.1.1/24', comment: 'Allow vpn network' }
      - { from_ip: '10.0.2.1/24', comment: 'Allow vpn network' }
      - { port: 32400, rule: allow, comment: 'Plex companion' }
      - { port: 3005, rule: allow, comment: 'Plex companion' }
      - { port: 5353, rule: allow, comment: 'Plex bonjur shit' }
      - { port: 1900, rule: allow, comment: 'Plex dlna shit' }
      - { port: 8324, rule: allow, comment: 'Plex other shit' }
      - { port: 32469, rule: allow, comment: 'Plex other shit' }
      - { port: 32410, rule: allow, comment: 'Plex GDM network discover' }
      - { port: 32412, rule: allow, comment: 'Plex GDM network discover' }
      - { port: 32413, rule: allow, comment: 'Plex GDM network discover' }
      - { port: 32414, rule: allow, comment: 'Plex GDM network discover' }
      - { port: 58846, rule: allow, comment: 'Deluge shit' }
      - { port: 10005, rule: allow, from_ip: '192.168.1.222', comment: 'Allow only vacuum to access this port' }
     
