{{ ansible_default_ipv4.address }} {{ domain }}
{{ ansible_default_ipv4.address }} budget.{{ domain }}
{{ ansible_default_ipv4.address }} {{ ipfs_domain }}
{{ ansible_default_ipv4.address }} api-{{ ipfs_domain }}
192.168.1.181 mr-pickle.here