upstream errbit {
  server localhost:4666 fail_timeout=0;
}

server {
  listen 80;
  listen [::]:80;
  server_name {{ errbit_domain }};
  return 301 https://$server_name$request_uri;
}

server {
  listen 443 ssl;
  ssl        on;
  ssl_certificate /etc/letsencrypt/live/{{ errbit_domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ errbit_domain }}/privkey.pem;
  server_name {{ errbit_domain }};

  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header Proxy "";
    proxy_pass_header Server;

    proxy_pass http://errbit;
    proxy_buffering on;
    proxy_redirect off;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;

    tcp_nodelay on;
  }

  error_page 404 403 @error;

  location @error {
    root /var/www;
    try_files /403.html /403.html;
  }

  client_body_buffer_size 1000m;
  client_max_body_size 1000m;
  keepalive_timeout 1m;
}
