upstream ipfs {
  server 192.168.1.63:8080 fail_timeout=30 max_fails=5 max_conns=20;
}

upstream ipfs-api {
  server 192.168.1.63:5001 fail_timeout=30 max_fails=5 max_conns=20;
}


server {
  listen 80;
  listen [::]:80;
  server_name webui-{{ ipfs_domain }};
  
  access_log /var/log/nginx/ipfs.good.log;
  error_log  /var/log/nginx/ipfs.bad.log;

  proxy_next_upstream error;
  proxy_buffering off;
  proxy_buffer_size 4k;
  proxy_temp_path /tmp/nginx;
  proxy_hide_header Access-Control-Allow-Headers;
  proxy_hide_header Access-Control-Expose-Headers;
  proxy_read_timeout 1800s;

  location / {
    allow 192.168.0.0/16;
    allow 10.0.0.0/16;
    deny all;

    proxy_pass http://ipfs-api;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_max_temp_file_size    0;
  }

  error_page 403 404 @error;

  location @error {
    root /var/www;
    try_files /403.html /403.html;
  }

  client_max_body_size 50M;
  keepalive_timeout 10;
}


server {
  listen 443 ssl;
  ssl        on;
  ssl_certificate /etc/letsencrypt/live/{{ ipfs_domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ ipfs_domain }}/privkey.pem;
  server_name {{ ipfs_domain }};

  access_log /var/log/nginx/ipfs.access.log;
  error_log  /var/log/nginx/ipfs.error.log;

  proxy_next_upstream error;
  proxy_buffering off;
  proxy_buffer_size 4k;
  proxy_temp_path /tmp/nginx;
  proxy_hide_header Access-Control-Allow-Headers;
  proxy_hide_header Access-Control-Expose-Headers;
  proxy_read_timeout 1800s;

  location / {
    proxy_pass http://ipfs/;
    proxy_set_header Host $http_host;
    proxy_cache_bypass $http_upgrade;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_max_temp_file_size    0;
  }


  error_page 403 404 @error;

  location @error {
    root /var/www;
    try_files /403.html /403.html;
  }

  client_max_body_size 50M;
  keepalive_timeout 10;
}
